/* styles.css */

body {
    margin: 0;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 5rem;
  }
  
  .about-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
  }
  
  .about-section h1 {
    height: 10vh;
    font-style: italic;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.375;
    align-items: flex-start;
  }
  
  .about-section h1 span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .about-section p {
    font-style: italic;
    font-size: 30PX;
    font-weight: 800;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-section p br {
    font-size: 30PX;
    font-weight: 800;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  
  .about-section button {
    font-style: italic;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.375;
    background-color: gold;
    border-radius: 10px;
  }
  
  
  .skills-container {
    margin-top: 1rem;
  }
  .skills-container h1{
    font-size: 50px;
  }
  .skills-container h2{
    font-size: 50px;
  }
  
  .skill-bar {
    margin-bottom: 1rem;
  }
  
  .skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .progress-bar {
    width: 100%;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
  }
  
  .progress {
    height: 100%;
    background-color: gold;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
  }
  .menu-button {
    z-index: 20;
    position: fixed;
    top: 3rem;
    right: 3rem;
    padding: 0.75rem;
    background-color: #4f46e5;
    width: 2.75rem;
    height: 2.75rem;
    border-radius: 0.375rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .line {
    background-color: white;
    height: 0.125rem; 
    border-radius: 0.375rem;
    width: 100%;
    transition: all 0.3s ease;
  }
  
  .line-top.rotate {
    transform: rotate(45deg) translateY(0.5rem) tranlateX(0.5rem);
  }
  
  .line-middle.hidden {
    display: none;
  }
  
  .line-bottom.rotate {
    transform: rotate(-45deg) translateY(0.125rem) ranlateX(0.5rem);;
  }
  
  .menu-container {
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    transition: all 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 0; 
  }
  
  .menu-container.open {
    width: 20rem; 
  }
  
  .menu-container.closed {
    width: 0; 
  }
  
  .menu-items {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem; 
    padding: 2rem; 
    background-color: #CBC3E3;
  }
  
  .menu-item {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    font-style: italic;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.375;
    background-color: gold;
    border-radius: 10px;
    
  }
  
  .menu-item:hover {
    background-color: #4f46e5; 
  }
