/* styles.css */

body {
    margin: 0;
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 5rem;
  }
  
  .about-section {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
  }
  
  .about-section h1 {
    height: 10vh;
    font-style: italic;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: 800;
    line-height: 1.375;
    align-items: flex-start;
  }
  
  .about-section h1 span {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .about-section p {
    font-style: italic;
    font-size: 30PX;
    font-weight: 800;
    flex-direction: column;
    align-items: flex-start;
  }
  .about-section p br {
    font-size: 30PX;
    font-weight: 800;
    flex-direction: column;
    align-items: flex-start;
    
  }
  
  
  .about-section button {
    font-style: italic;
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.375;
    background-color: gold;
    border-radius: 10px;
  }
  
  
  .skills-container {
    margin-top: 1rem;
  }
  .skills-container h1{
    font-size: 50px;
  }
  .skills-container h2{
    font-size: 50px;
  }
  
  .skill-bar {
    margin-bottom: 1rem;
  }
  
  .skill-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  
  .progress-bar {
    width: 100%;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
  }
  
  .progress {
    height: 100%;
    background-color: gold;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
  }
  